.login-body {
    background-color: #f2f2f2; /* Cinza claro */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    background-color: #ffffff; /* Fundo branco do formulário */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 2rem;
}

.form-control {
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745; /* Verde para o botão de login */
    border: none;
}

.btn-success:hover {
    background-color: #282188;
}
